<%= form_with(model: brand) do |form| %>
  <% if brand.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(brand.errors.count, "error") %> prohibited this brand from being saved:</h2>

      <ul>
        <% brand.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, "Nombre", style: "display: block", class: "form-label" %>
    <%= form.text_field :name, class: "form-control", placeholder: "Nombre de marca" %>
  </div>

  <div class="mb-3">
    <%= form.label :lead_time, style: "display: block", class: "form-label" %>
    <%= form.number_field :lead_time, class: "form-control", placeholder: "Lead Time" %>
  </div>

  <div>
    <%= form.submit "Guardar Marca", class: "btn btn-outline-success" %>
  </div>
<% end %>
